# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/bur4u-api.config.js

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# misc
/log
/tmp
.cache
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


